@using WebApplication3.Models;
@model List<DOITAC>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model != null && Model.Any())
{
    
    <div style="margin-bottom:25px">
        <a class="btn-primary btn" href="~/Views/Trade/Create.cshtml">Tạo Mới Giao Dịch</a>
    </div>
    <table class="table-bordered table table-hover">
        <thead>
            <tr>
              <th>Mã Đối Tác</th>
              <th>Tên Đối Tác</th>
              <th>Người Đại Diện</th>
              <th>Địa Chỉ</th>
              <th>Tài Khoản HNX</th>
              <th>Tài Khoản Ngân Hàng Nhà Nước</th>
                <th>Thao Tác</th>
            </tr>
            
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             <tr>
                 <td>@item.MaDT</td>
                 <td>@item.TenDT</td>
                 <td>@item.NguoiDaiDien</td>
                 <td>@item.DiaChi</td>
                 <td>@item.TaiKhoanHNX</td>
                 <td>@item.TaiKhoanNHNN</td>
                 <td>
                     <a href="">Xóa</a>
                     <a href="">Sửa</a>
                 </td>
            </tr>
            }
        </tbody>
    </table>
    
}